resume: True
weight: ./checkpoints/bgPIFu/model_best.pth
finetune: False
method: bgPIFu
exp_name: bgPIFu_result_1205
phase: reconstruction
device:
  use_gpu: True
  gpu_ids: '3'
data:
  dataset: front3d_bg
  data_path: ./data/3dfront/prepare_data
  split_path: ./data/3dfront/bg_split
  occ_path: ./data/3dfront/bgocc
  batch_size: 1
  load_dynamic: True
  num_workers: 1
  use_aug: True
  rotate_degree: 2.5
  image_height: 200
  image_width: 268
  use_positional_embedding: True
  multires: 4
  marching_cube_resolution: 256
model:
  mlp_dim: [1283, 1024, 512, 256, 128, 1]
  no_residual: False
  num_stack: 4
  norm: group
  hg_down: ave_pool
  num_hourglass: 2
  hourglass_dim: 256
  skip_hourglass: False
  multires: 4
other:
  nepoch: 100
  model_save_interval: 1
  model_save_dir: ./checkpoints
  visualize_interval: 1000
  dump_result: True
  dump_interval: 1000


